BasedOnStyle: LLVM
Language: Cpp

IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120

BreakBeforeBraces: Linux
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never

PointerAlignment: Right
SpaceBeforeParens: ControlStatements

AlignAfterOpenBracket: Align
AlignOperands: Align
BinPackArguments: true
BinPackParameters: false

SortIncludes: Never

IndentCaseLabels: false
