Checks: >
  *,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -bugprone-random-generator-seed,
  -cert-msc30-c,
  -cert-msc32-c,
  -cert-msc50-cpp,
  -cert-msc51-cpp,
  -concurrency-mt-unsafe,
  -misc-predictable-rand,
  -abseil-*,
  -altera-*,
  -boost-*,
  -cppcoreguidelines-*,
  cppcoreguidelines-avoid-non-const-global-variables,
  -darwin-*,
  -fuchsia-*,
  -google-*,
  -hicpp-*,
  -linuxkernel-*,
  -llvm-*,
  -llvmlibc-*,
  -modernize-*,
  -mpi-*,
  -objc-*,
  -openmp-*,
  -zircon-*,
  -portability-avoid-pragma-once,
  -readability-implicit-bool-conversion,

CheckOptions:
  readability-identifier-naming.FunctionCase: lower_case
  readability-identifier-naming.VariableCase: lower_case
  readability-identifier-naming.MacroDefinitionCase: UPPER_CASE
  readability-identifier-naming.EnumConstantCase: UPPER_CASE
  readability-identifier-naming.TypedefCase: CamelCase
  readability-identifier-naming.StructCase: CamelCase
  readability-function-cognitive-complexity.Threshold: 25
  readability-magic-numbers.IgnoredFloatingPointValues: '0.0;0.5;1.0;2.0;3.0;-1.0;-0.5'
  readability-magic-numbers.IgnoredIntegerValues: '0;1;2;3;4;8;16;255'

HeaderFilterRegex: '.*/engine/(src|test)/.*\.h$'
WarningsAsErrors: '*'
